.example-spacer {
    flex: 1 1 auto;
}

.container {
    height: calc(100% - 64px);
}

.ultima-hora-msg {
    min-height: 30px;
    margin-bottom: 20px;
    width: 240px;
}

.alinhar-meio {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex {
    display: flex;
}

.ml-auto {
    margin-left: auto;
}