<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Marcar hora</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <div>
    <div class="ultima-hora-msg" [class.alinhar-meio]="loadingUltimaMarcacao">
      <ng-container *ngIf="loadingUltimaMarcacao">
        <mat-spinner [diameter]="30" defaultColor="accent"></mat-spinner>
      </ng-container>
      <ng-container *ngIf="!loadingUltimaMarcacao">
        <p class="d-flex">Início: <span class="ml-auto">{{msgUltimaHoraMarcada?.entrada}}</span></p>
        <p class="d-flex">Saída para almoço: <span class="ml-auto">{{msgUltimaHoraMarcada?.saidaAlmoco}}</span></p>
        <p class="d-flex">Volta do almoço: <span class="ml-auto">{{msgUltimaHoraMarcada?.voltaAlmoco}}</span></p>
        <p class="d-flex">Saída: <span class="ml-auto">{{msgUltimaHoraMarcada?.saida}}</span></p>
      </ng-container>
    </div>
    <div class="alinhar-meio">
      <button mat-raised-button color="primary" [disabled]="loading" (click)="marcarHora()">
        {{loading ? 'Carregando' : 'Marcar hora'}}
      </button>
      <a href="https://docs.google.com/spreadsheets/d/1qFgtn0MmrxysrKcFMqKdSPhX5zTQOadh-KP6kJU8Jok/edit#gid=0" target="_blank">
        <button style="margin-left: 10px;" mat-raised-button color="warn">
          Planilha
        </button>
      </a>
    </div>
  </div>
</div>